{% extends 'web_app/base_alt.html' %}
{% load staticfiles %}
{% block title %}{{ car.make }} {{ car.name }}{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/css_style.default.css' %}" id="theme-stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datepicker.min.css' %}" id="theme-stylesheet">
{% endblock %}

{% block menu %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'web_app:cars' %}">Cars</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'web_app:dashboard' %}">Welcome, {{ user.last_name }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-t rigger" href="{% url 'web_app:logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'web_app:login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'web_app:register' %}">Register</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h3 class="my-4">{{ car.make }}</h3>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div class="card mt-4">
                    <img class="card-img-top img-fluid" src="/{{ car.picture.url|default_if_none:'#' }}" alt="">
                    <div class="card-body">
                        <h3 class="card-title">{{ car.name }}</h3>
                        <h4>&euro; {{ car.price }}</h4>
                        <p class="card-text">{{ car.description }}</p>
                        &nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-primary" data-target="#save_advertisement" id="save_advertisementBtn" onclick="save_ad()">
                            Save ad now
                        </button>
                    </div>
                </div>
                <!-- /.card -->

                <div class="card card-outline-secondary my-4">
                    <div class="card-header">
                        Specification
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td>
                                    Car type
                                </td>
                                <td>
                                    {{ car.make }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Fuel Type
                                </td>
                                <td>
                                    {{ car.fuel }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Seating capacity
                                </td>
                                <td>
                                    {{ car.seats }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Maximum power (PS)
                                </td>
                                <td>
                                    {{ car.power }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Dimensions (mm)
                                </td>
                                <td>
                                    {{ car.dimensions }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Added by
                                </td>
                                <td>
                                    {{ car.added_by }}
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col-lg-9 -->
        </div>

    </div>

    <div class="modal fade" id="save_advertisement">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">save advertisement of the car?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="save_advertisementForm" class="form form-control" role="form" action="{% url 'web_app:save_advertisement' car.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success" id="clickBtn">Save ad</button>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button id="save_advertisementClose" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/additional-methods.js' %}" type="text/javascript"></script>

    <script>

        var date = new Date();
        date.setDate(date.getDate()-1);

        $('.datepicker').datepicker({
            format: "dd/mm/yyyy",
            autoclose: true,
            startDate: date
        });


        function save_ad(e) {
            var url = "{% url 'web_app:save_advertisement' car.id %}";
            $.ajax({
                   type: "POST",
                   url: url,
                   data: $("#save_advertisementForm").serialize(),
                   success: function(data)
                   {
                       alert(data);
                   }
                 });
        }

    </script>

{% endblock %}