{% extends 'web_app/base_alt.html' %}
{% load staticfiles %}
{% block title %}Dashboard{% endblock %}
{% load bootstrap4 %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/css_style.default.css' %}" id="theme-stylesheet">
{% endblock %}

{% block menu %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'web_app:cars' %}">Cars</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#">Welcome, {{ user.last_name }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-t rigger" href="{% url 'web_app:logout' %}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'web_app:login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% url 'web_app:register' %}">Register</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block body %}
    <div class="container">

        <!-- Page Heading -->
        
    </div>
    <div class="container">

        <!-- Page Heading -->
        <h3 class="my-4">Saved ads</h3>

        <div class="row">
            {% if saved_ads %}
                {% for saved_ad in saved_ads %}
                    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            <a href="{% url 'web_app:details' saved_ad.car.id %}"><img class="card-img-top img-fluid" src="/{{ saved_ad.car.picture_url|default_if_none:'#' }}" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="{% url 'web_app:details' saved_ad.car.id %}">{{ saved_ad.car.make }} {{ saved_ad.car.name }}</a>
                                </h4>
                                <p class="card-text">
                                    Amount: &euro; {{ saved_ad.amount }}<br>
                                    Date of saved_ad: {{ saved_ad.saved_ad }}<br>
                                    Address: {{ saved_ad.address }}<br>
                                    Bought: {% if saved_ad.is_bought %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <h3 class="my-4">My Advertisements</h3>
        <div class="row">
            {% if my_cars %}
                {% for car in my_cars %}
                    <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
                        <div class="card h-100">
                            <a href="{% url 'web_app:details' car.id %}"><img class="card-img-top img-fluid" src="/{{ car.picture_url|default_if_none:'#' }}" alt=""></a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="{% url 'web_app:details' car.id %}">{{ car.make }} {{ car.name }}</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <h3 class="my-4">New Advertisements</h3>
        <form role="form" action="{% url 'web_app:dashboard'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form new_ad %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success" id="clickBtn">Add Advertisement</button>
                </div>
            </div>
        </form>

        <div class="row">

        </div>

        <!-- /.row -->
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/additional-methods.js' %}" type="text/javascript"></script>

    <script>
        $("#clickBtn").submit(function(e) {
            data = $("#clickBtn").serialize();
            alert(data);

            <!--var url = "{/% url 'web_app:save_advertisement' car.id %/}";-->
            <!--$.ajax({-->
                   <!--type: "POST",-->
                   <!--url: url,-->
                   <!--data: $("#clickBtn").serialize(),-->
                   <!--success: function(data)-->
                   <!--{-->
                       <!--alert(data);-->
                   <!--}-->
                 <!--});-->
            <!--$("#save_advertisementClose").trigger("click");-->
            <!--e.preventDefault();-->
        });
    </script>

{% endblock %}